@font-face {
  font-family: "japanese_2020";
  src: url("Fuentes/japanese_2020/JAPANESE_2020.ttf");
}
@font-face {
  font-family: "digital_7";
  src: url("Fuentes/digital_7/digital-7\ \(mono\).ttf");
}
@font-face {
  font-family: "Batman";
  src: url("Fuentes/batman_forever/batmfa__.ttf");
}
.bandera{
  width: 100px;
  height: 50px;
}
body {
  background-color: #2B213A;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
  }
  a{
    color: rgb(0, 219, 235);
  }
  .navigation-menu {
    max-height: 1150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 2px solid #3e22a5;
    background-color:rgb(35, 22, 66);
    box-shadow: 0 0 10px #708aff;
    color: rgb(255, 255, 255);
    animation: neon 1s ease-in-out infinite alternate;
  }
  
  @keyframes neon {
    to {
      box-shadow: 0 0 20px #00ffff;
    }
  }
  .main-content {
    flex: 1;
    padding: 20px;
  }
  header {
    border: 2px solid #00FFFF; /* Color neon */
    padding: 10px; /* Espacio dentro del borde */
    text-align: center; /* Alineación centrada */
    animation: neon 1s ease-in-out infinite alternate; /* Animación neon */
  }
  
  p {
    margin: 0; /* Elimina el margen por defecto */
    padding: 10px; /* Agrega un padding para separarlo del borde */
  }
  
  @keyframes neon {
    from {
      box-shadow: 0 0 5px #00FFFF; /* Color neon */
    }
    to {
      box-shadow: 0 0 20px #00FFFF; /* Color neon */
    }
  }
.content{
  float: left;
  width: 50%;
  height: 300px;
}
.clearfix {
    clear: both;
}
#titulo {
    font-size: 70px;
    font-family: "japanese_2020";
    color: white;
    border: 2px solid #0077ff; /* Color neon */
    padding: 10px; /* Espacio dentro del borde */
    text-align: center; /* Alineación centrada */
    animation: neon 1s ease-in-out infinite alternate; /* Animación neon */
  }
  
  p {
    margin: 10px; /* Elimina el margen por defecto */
    padding: 10px; /* Agrega un padding para separarlo del borde */
  }
  
  @keyframes neon {
    from {
      box-shadow: 0 0 5px #ff00d4; /* Color neon */
    }
    to {
      box-shadow: 0 0 20px #e5ff00; /* Color neon */
    }
  }
.top{
  color: lightpink;
}
table, th, td {
    border: 2px solid;
    padding: 8px;
    animation: neon 1s ease-in-out infinite alternate;
  }
img{
  width: 20%;
}
.gj-10{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: red;
  padding: 2px;
  font-size: x-large;
}
.AS-19{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  background-color: #FFB64A;
  padding: 2px;
  font-size: x-large;
}
.AS-356{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  background-color: yellow;
  padding: 2px;
  font-size: x-large;
}
.Parroquia{
  text-align: center;
  margin: auto;
}
#Toponimia{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#Oficialidad{
  font-family: "Batman";
  font-size: x-large;
}
#Simbolos{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#Geografia{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#Hidrografia{
  font-family: "Batman";
  font-size: x-large;
}
#Clima{
  font-family: "Batman";
  font-size: x-large;
}
#Historia{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#Prehistoria{
  font-family: "Batman";
  font-size: x-large;
}
#EdadAntigua{
  font-family: "Batman";
  font-size: x-large;
}
#EdadMedia{
  font-family: "Batman";
  font-size: x-large;
}
#EdadContemporanea{
  font-family: "Batman";
  font-size: x-large;
}
#Demografia{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#EvolucionPoblacion{
  font-family: "Batman";
  font-size: x-large;
}
#EvolucionParroquial{
  font-family: "Batman";
  font-size: x-large;
}
#Admistracion{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#GobiernoMunicipal{
  font-family: "Batman";
  font-size: x-large;
}
#OrganizacionTerritorial{
  font-family: "Batman";
  font-size: x-large;
}
#RepresentacionConsular{
  font-family: "Batman";
  font-size: x-large;
}
#Economia{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#MillaConocimiento{
  font-family: "Batman";
  font-size: x-large;
}
#CentrosComerciales{
  font-family: "Batman";
  font-size: x-large;
}
#Servicios{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#Educacion{
  font-family: "Batman";
  font-size: x-large;
}
#Sanidad{
  font-family: "Batman";
  font-size: x-large;
}
#Empresasmunicipales{
  font-family: "Batman";
  font-size: x-large;
}
#Transporte{
  font-family: "digital_7";
  font-size: 300%;
  font-weight: bold;
}
#Terrestre{
  font-family: "Batman";
  font-size: x-large;
}
#Patrimonio{
  font-family: "Batman";
  font-size: x-large;
}
#Cultura{
  font-family: "Batman";
  font-size: x-large;
}
.Otrapag{
font-family: "Batman";
font-size: large;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
 height: 10vh;
 background: #2B213A;
}
.btnneon{
position: relative;
display: inline-block;
padding: 15px 30px;
color: #fff;
letter-spacing: 4px;
font-size: 24px;
text-decoration: none;
overflow: hidden;
transition: 0.2s;
}
.btnneon:hover{
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
}
.btn-neon span{
  position: absolute;
  display: block;
}
footer{
  font-family: "Batman";
  text-align: center;
}
.Indice1{
  font-family: "japanese_2020";
  font-size: 230%;
  text-align: center;
}

